
# IDE
.vscode

# compiled output
dist/

# products - 原始JSON文件太大，只提交gzip版本
products/*.json
!products/*.gz

# API Keys (private)
demo/api-keys.js

# mac
.DS_Store

# svn
.svn

# .bak
*.bak

# node | npm | yarn
node_modules
code/node_modules/
code/npm-debug.log
code/npm-lock.log
code/yarn.lock

# logs
*.log

# static file
public/
.deploy*/

# temp file
Thumbs.db
db.json
/config/_secretKey.js